fastapi[standard]
pydantic
pydantic_settings
langchain-core
langchain[openai]
langchain-pinecone
langchain-community
python-multipart
unstructured #unstructured==0.10.25
python-docx 
openpyxl 
pdfminer.six 
beautifulsoup4 
lxml
pdf2image